compton -b --backend xrender &
urxvtd -q -f -o &
wal -R -a "80" &
xrdb -merge ~/.Xresources &
nm-applet &
dunst &
setxkbmap -model pc105 -layout us,es -option grp:alt_shift_toggle &
xrandr --output LVDS-1 --primary --mode 1366x768 --pos 0x0 --rotate normal &
